@media (min-width: 768px) {
    .brands__swiper {
        display: none;
    }

    .brands__list {
        display: grid;
    }

    .brands__item:nth-child(-n + 6) {
        display: block;
    }

    .brands__link {
        max-width: 280px;
    }

    .brands__button {
        display: flex;
    }
}

@media (min-width: 1120px) {
    .brands__list {
        padding: 24px 32px;
        column-gap: 32px;
    }

    .brands__item:nth-child(-n + 8) {
        display: block;
    }

    .brands__expand {
        margin-left: 32px;
    }
}